<div>Dish</div>

<% case str.size %>
<% when 0 %>
  <% @dishes.each do |k, h| %>
    <%= option_link h, priority => h[:num] %>
  <% end %>
<% when 1 %>
  <% dish = @dishes.find{|k,v| v[:num] == str.to_i}[0] %>
  <%= option_link @dishes[dish], priority => nil %>

  <div>Geographic Reach</div>

  <% @prices[dish][priority].each do |h, v| %>
    <%= option_link "#{h}: $#{v}", priority => "#{str}#{@places[h]}" %>
  <% end %>
<% when 2 %>
  <% dish = @dishes.find{|k,v| v[:num] == str[0].to_i}[0] %>
  <% range = @places.key(str[1].to_i) %>
  <%= option_link @dishes[dish], priority => nil %>
  <div>Geographic Reach</div>
  <%= option_link "#{range}: $#{@prices[dish][priority][range]}", priority => str[0] %>
<% end %>
