<%= total_header %>

<div class="container">

  <div class="flex-container justify-between wrap-mobile flex-start pad-bot">

    <div class="dish-container">

      <div class="pad-bot pad-top">
        <%= t".entree" %>: $<%= Dish.price entree: params[:entree].to_s %> | <%= t"important" %>
      </div>

      <div class="flex-container flex-column dish">
        <%= render 'dish_options', priority: :entree, str: params[:entree].to_s %>
      </div>

    </div>


    <div class="dish-container">

      <div class="gray-text pad-bot pad-top">
        <%= t".dessert" %>: $<%= Dish.price dessert: params[:dessert].to_s %> | <%= t"important2" %>

      </div>

      <div class="flex-container flex-column dish">
        <%= render 'dish_options', priority: :dessert, str: params[:dessert].to_s %>
      </div>

    </div>

    <div class="dish-container">

      <div class="gray-text pad-bot pad-top">
        <%= t".drink" %>: $<%= Dish.price drink: params[:drink].to_s %> | <%= t"important3" %>
      </div>

      <div class="flex-container flex-column dish">
        <%= render 'dish_options', priority: :drink, str: params[:drink].to_s %>
      </div>

    </div>

  </div>

  <div class="flex-container justify-between">
    <% if I18n.locale == :en %>
      <%= link_to "FAQ", "http://www.elpueblomenu.org/faq-2/", class: 'card home-link self-start' %>
    <% else %>
      <%= link_to "Preguntas", "http://www.elpueblomenu.org/faq/", class: 'card home-link self-start' %>
    <% end %>
    <%= form_for @vote do |f| %>
      <%= f.hidden_field :entree, value: params[:entree].to_s %>
      <%= f.hidden_field :dessert, value: params[:dessert].to_s %>
      <%= f.hidden_field :drink, value: params[:drink].to_s %>
      <div class="flex-container card wide-mobile">
        <% if total == 0 %>
          <%= f.submit 'Submit', class: 'pure-button pure-button-primary', title: 'You have chosen nothing', disabled: true %>
        <% elsif total > 100 %>
          <%= f.submit 'Submit', class: 'pure-button pure-button-primary', title: 'Too expensive', disabled: true %>
        <% else %>
          <%= f.submit t('submit'), data: {confirm: t('confirm'), disable_with: 'Please wait...'}, class: 'pure-button pure-button-primary' %>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
