<div class="container">
  <div class="flex-container justify-between">
    <h3 class="card fro">
      <%= t ".votes" %>: <%= votes @votes %>
    </h3>
    <h3 class="card fro">
      <%= t ".voters" %>: <%= people @votes %>
    </h3>
  </div>

  <div class="bg-txt">
    Download:
    <%= link_to 'Votes', results_path(format: 'csv', l: 'en') %> |
    <%= link_to 'Votos', results_path(format: 'csv', l: 'es') %> |
    <%= link_to 'Voters', voters_path(format: 'csv', l: 'en') %>
    <%#= link_to "Excel", results_en_path(format: "xls") %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t1') %></div>
    <%= render 'table', group: :name, where: nil, chart: 1 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t2') %></div>
    <%= render 'table', group: :reach, where: nil, chart: 2 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t3') %></div>
    <%= render 'table', group: :name, where: {priority: :entree}, chart: 3 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t4') %></div>
    <%= render 'table', group: :name, where: {priority: :drink}, chart: 4 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t5') %></div>
    <%= render 'table', group: :name, where: {priority: :dessert}, chart: 5 %>
  </div>

  <%= render 'table_2' %>

  <%= render 'table_3' %>
</div>
