<div class="container">
  <div class="card pure-form">
    <div class="req">*<%= t '.req' %></div>
    <div class="pad-top">
      <i><%= t '.notice' %></i>
    </div>
    <%= form_for @user do |f| %>
    <%= f.hidden_field :language, value: I18n.locale.to_s %>
      <h3>1. <%= t '.name' %></h3>
      <%= f.text_field :name, placeholder: t('ph1'), class: 'email' %>
      <h3>2. <%= t '.email' %></h3>
      <%= f.email_field :email, placeholder: t('ph2'), class: 'email' %>
      <h3>3. <%= t '.phone_number' %></h3>
      <%= f.text_field :phone_number, placeholder: t('ph3'), class: 'phone', onfocus: 'phoneFormatter()' %>
      <h3>4. <%= t '.c_question' %><span class="req">*</span></h3>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 1, nil %>
        <%= f.label :connections_1, t('.c1') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 2, nil %>
        <%= f.label :connections_2, t('.c2') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 3, nil %>
        <%= f.label :connections_3, t('.c3') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 4, nil %>
        <%= f.label :connections_4, t('.c4') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 5, nil %>
        <%= f.label :connections_5, t('.c5') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 6, nil %>
        <%= f.label :connections_6, t('.c6') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 7, nil %>
        <%= f.label :connections_7, t('.c7') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 8, nil %>
        <%= f.label :connections_8, t('.c8') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 9, nil %>
        <%= f.label :connections_9, t('.c9') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 10, nil %>
        <%= f.label :connections_10, t('.c10') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connections, {multiple: true}, 11, nil %>
        <%= f.label :connections_11, t('.c11') %>
      </div>
      <div class="check-box">
        <%= f.check_box :connection_other, {}, 12, nil %>
        <%= f.label :connection_other, t('.other') %>
        <%= f.text_field :connection_other, disabled: true, class: 'other' %>
      </div>
      <%= f.submit t('submit'), class: 'pure-button pure-button-primary' %>
    <% end %>
  </div>
</div>
