<div class="container">
  <div class="bg-txt">Voters: <%= @votes.count %></div>

  <div class="flex-container justify-between wrap">
    <% @votes.order('name asc').each do |vote| %>
      <div class="user-card">
        <div class="card-header">
          <%= user vote %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="bg-txt">Connections/Comments</div>
  <div class="flex-container masonry">
    <% @votes.reverse.each do |vote| %>
      <div class="user-card">
        <div class="card-header">
          <!-- <div class="user">Connections</div> -->
          <% if vote.user.connections %>
            <% vote.user.connections.each do |connection| %>
              <div class="green"><%= connection_helper connection %></div>
            <% end %>
          <% end %>
          <% if vote.user.connection_other %>
            <div class="green">Other: <%= vote.user.connection_other %></div>
          <% end %>
        </div>
        <% if vote.comments.present? %>
          <div class="card-body">
            <span class="gray-text">Comments - </span><%= vote.comments %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
