<div class="bg-txt">
  Most popular <%= collection.first.priority.pluralize %>
</div>

<div class="x-scroll">
  <table>
    <thead>
      <th class="min-width">Votes</th>
      <th>Dish</th>
      <th>Geographic Range</th>
      <th class="min-width">Price</th>
    </thead>
    <tbody>
      <% collection.each do |dish| %>
        <% if dish.votes > 0 %>
          <tr>
            <td class="center"><%= dish.votes %></td>
            <td><%= t("#{Dish.to_name dish.name}") %></td>
            <td><%= t("#{Dish.to_reach(dish.reach)}") %></td>
            <td class="center">$<%= dish.price %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
