<div class="bg-txt">
  <%= t "pages.menu.#{collection.first.priority}s" %>
</div>

<div class="x-scroll">
  <table>
    <thead>
      <th class="min-width"><%= t "votes.index.votes" %></th>
      <th><%= t "pages.dish_options.options" %></th>
      <th><%= t "pages.dish_options.reach" %></th>
      <th class="min-width"><%= t "votes.index.price" %></th>
    </thead>
    <tbody>
      <% collection.each do |dish| %>
        <tr>
          <td class="center"><%= dish.votes %></td>
          <td><%= t "#{Dish.to_name dish.name}" %></td>
          <td><%= t "#{Dish.to_reach(dish.reach)}" %></td>
          <td class="center">$<%= dish.price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
