<% chart = 5 %>
<% [:entree, :dessert, :drink].each do |priority| %>
  <% (1..5).to_a.each do |name| %>
    <% data = @dishes.where(priority: priority, name: name).group(:reach).sum(:votes) %>

    <div class="bg-txt"><%= t("pages.menu.#{priority}") %>: <%= t("#{Dish.to_name name}") %></div>

    <div class="flex-container wrap-mobile pad-bot">
      <div class="x-scroll-2">
        <table>
          <thead>
            <th class="min-width"><%= t ".votes" %></th>
            <th><%= t "pages.dish_options.reach" %></th>
          </thead>
          <tbody>
            <% @dishes.where(priority: priority, name: name).order(votes: :desc).each do |dish| %>
                <tr>
                  <td class="center"><%= dish.votes %></td>
                  <td><%= t "#{Dish.to_reach dish.reach}" %></td>
                </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div id="chart-<%= chart += 1 %>"></div>
      <% if @dishes.where(priority: priority, name: name).sum(:votes) > 0 %>
        <script>
          $(window).on('load resize', function() { pieChart(<%= chart %>, '<%= pie_data data, :reach %>', 'reach')});
        </script>
      <% end %>
    </div>
  <% end %>
<% end %>
