<% [:entree, :dessert, :drink].each do |priority| %>
  <% (1..5).to_a.each do |name| %>
    <div class="bg-txt"><%= t("pages.menu.#{priority}") %>: <%= t("#{Dish.to_name name}") %></div>

    <div class="x-scroll">
      <table>
        <thead>
          <th class="min-width"><%= t ".votes" %></th>
          <th><%= t "pages.dish_options.reach" %></th>
        </thead>
        <tbody>
          <% @dishes.where(priority: :entree, name: name).order(votes: :desc).each do |dish| %>
              <tr>
                <td class="center"><%= dish.votes %></td>
                <td><%= t "#{Dish.to_reach dish.reach}" %></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
