<div class="bg-txt">Voters</div>

<div class="flex-container wrap">
  <% @votes.each do |vote| %>
    <div class="user-card">
      <div class="card-header">
        <%= mail_to vote.user.email, vote.user.email, class: 'user' %><br/>
        <% vote.user.connections.each do |connection| %>
          <div class="green"><%= connection_helper connection %></div>
        <% end %>
        <% if vote.user.connection_other %>
          <div class="green">Other: <%= vote.user.connection_other %></div>
        <% end %>
      </div>
      <div class="card-body">
        <%= t "total_spent" %>: $<%= total vote %>
        <% vote.dishes.each do |priority, dish| %>
          <% if dish %>
            <div>
              <%= t "pages.menu.#{priority}" %>: <%= Dish.to_name dish %> - <%= Dish.to_reach dish %>: $<%= Dish.price priority => dish %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
