<div class="container">
  <div class="flex-container justify-between">
    <h3 class="card fro" style="margin-right: 1em;">
      Votes: <%= votes @votes %>
    </h3>
    <h3 class="card fro">
      <div>People: <%= people @votes %></div>
    </h3>
  </div>

  <div class="bg-txt">Most popular dishes</div>

  <div class="x-scroll">
    <table>
      <thead>
        <th class="min-width">Votes</th>
        <th>Dish</th>
        <th>Priority</th>
        <th>Geographic Range</th>
        <th class="min-width">Price</th>
      </thead>
      <tbody>
        <% @dishes.each do |dish| %>
          <% if dish.votes > 0 %>
            <tr>
              <td class="center"><%= dish.votes %></td>
              <td><%= t("#{Dish.to_name dish.name}") %></td>
              <td><%= dish.priority.titleize %></td>
              <td><%= t("#{Dish.to_reach(dish.reach)}") %></td>
              <td class="center">$<%= dish.price %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'table', collection: @entrees %>

  <%= render 'table', collection: @desserts %>

  <%= render 'table', collection: @drinks %>

  <% if @votes.any? %>
    <div class="bg-txt">Voters</div>

    <div class="flex-container wrap">
      <% @votes.each do |vote| %>
        <div class="user-card">
          <div class="card-header">
            <%= mail_to vote.user.email, vote.user.email, class: 'user' %><br/>
            <% vote.user.connections.each do |connection| %>
              <div class="green"><%= connection_helper connection %></div>
            <% end %>
            <% if vote.user.connection_other %>
              <div class="green">Other: <%= vote.user.connection_other %></div>
            <% end %>
          </div>
          <div class="card-body">
            <%= t "total_spent" %>: $<%= total vote %>
            <% vote.dishes.each do |priority, dish| %>
              <% if dish %>
                <div>
                  <%= t "pages.menu.#{priority}" %>: <%= Dish.to_name dish %> - <%= Dish.to_reach dish %>: $<%= Dish.price priority => dish %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
