<div class="container">
  <div>
    Votes: <%= votes @votes %>
  </div>

  <div>People: <%= people @votes %></div>

  <div>Most popular</div>

  <table>
    <thead>
      <th class="min-width">Votes</th>
      <th>Dish</th>
      <th>Priority</th>
      <th>Geographic Range</th>
    </thead>
    <tbody>
      <% @dishes.each do |dish| %>
        <% if dish.votes > 0 %>
          <tr>
            <td class="center"><%= dish.votes %></td>
            <td><%= Dish.to_name dish.name %></td>
            <td><%= dish.priority %></td>
            <td><%= Dish.to_reach dish.reach %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
