<div class="container">
  <div class="flex-container justify-between">
    <h3 class="card fro">
      <%= t ".votes" %>: <%= votes @votes %>
    </h3>
    <h3 class="card fro">
      <%= t ".voters" %>: <%= people @votes %>
    </h3>
  </div>

  <div class="bg-txt">
    Download:
    <%= link_to 'CSV (en)', results_en_path(format: 'csv') %> |
    <%= link_to 'CSV (es)', results_es_path(format: 'csv') %>
    <%#= link_to "Excel", results_en_path(format: "xls") %>
  </div>

  <!-- <div class="bg-txt"><%= t ".popular_dishes" %></div> -->
  <%#= render 'big_table' %>

  <div>
    <div class="bg-txt"><%= t('.t1') %></div>
    <%= render 'table_3', group: :name, where: nil, chart: 1 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t2') %></div>
    <%= render 'table_3', group: :reach, where: nil, chart: 2 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t3') %></div>
    <%= render 'table_3', group: :name, where: {priority: :entree}, chart: 3 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t4') %></div>
    <%= render 'table_3', group: :name, where: {priority: :drink}, chart: 4 %>
  </div>

  <div>
    <div class="bg-txt"><%= t('.t5') %>Most Popular Desserts Overall, regardless of geographic reach</div>
    <%= render 'table_3', group: :name, where: {priority: :dessert}, chart: 5 %>
  </div>

  <%= render 'table_4' %>

  <%#= render 'table', collection: @entrees if @entrees.any? %>

  <%#= render 'table', collection: @desserts if @desserts.any? %>

  <%#= render 'table', collection: @drinks if @drinks.any? %>

  <%#= render 'voters' if @votes.any? %>
</div>
