<div class="container">
  <div class="flex-container justify-between">
    <h3 class="card fro" style="margin-right: 1em;">
      <%= t ".votes" %>: <%= votes @votes %>
    </h3>
    <h3 class="card fro">
      <%= t ".voters" %>: <%= people @votes %>
    </h3>
  </div>

  <div class="bg-txt"><%= t ".popular_dishes" %></div>

  <div class="x-scroll">
    <table>
      <thead>
        <th class="min-width"><%= t ".votes" %></th>
        <th><%= t "pages.dish_options.dish" %></th>
        <th>Priority</th>
        <th><%= t "pages.dish_options.reach" %></th>
        <th class="min-width"><%= t ".price" %></th>
      </thead>
      <tbody>
        <% @dishes.each do |dish| %>
          <% if dish.votes > 0 %>
            <tr>
              <td class="center"><%= dish.votes %></td>
              <td><%= t("#{Dish.to_name dish.name}") %></td>
              <td><%= dish.priority.titleize %></td>
              <td><%= t("#{Dish.to_reach(dish.reach)}") %></td>
              <td class="center">$<%= dish.price %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render 'table', collection: @entrees %>

  <%= render 'table', collection: @desserts %>

  <%= render 'table', collection: @drinks %>

  <%= render 'voters' if @votes.any? %>
</div>
