<div class="container">
  <div class="flex-container justify-between">
    <h3 class="card fro">
      <%= t ".votes" %>: <%= votes @votes %>
    </h3>
    <h3 class="card fro">
      <%= t ".voters" %>: <%= people @votes %>
    </h3>
  </div>

  <div class="bg-txt">
    Download:
    <%= link_to 'CSV (en)', results_es_path(format: 'csv') %> |
    <%= link_to 'CSV (es)', results_en_path(format: 'csv') %>
    <%#= link_to "Excel", results_en_path(format: "xls") %>
  </div>

  <!-- <div class="bg-txt"><%= t ".popular_dishes" %></div> -->

  <%#= render 'big_table' %>

  <div class="bg-txt">Most popular dishes overall regardless of priority or geographic reach</div>

  <%= render 'table_3', group: :name, where: nil %>

  <div class="bg-txt">Most Popular Geographic Reach Overall, regardless of priority or dish</div>

  <%= render 'table_3', group: :reach, where: nil %>

  <div class="bg-txt">Most Popular Entrees Overall, regardless of geographic reach</div>

  <%= render 'table_3', group: :name, where: {priority: :entree} %>

  <div class="bg-txt">Most Popular Drinks Overall, regardless of geographic reach</div>

  <%= render 'table_3', group: :name, where: {priority: :drink} %>

  <div class="bg-txt">Most Popular Desserts Overall, regardless of geographic reach</div>

  <%= render 'table_3', group: :name, where: {priority: :dessert} %>

  <%= render 'table_4' %>

  <%#= render 'table', collection: @entrees if @entrees.any? %>

  <%#= render 'table', collection: @desserts if @desserts.any? %>

  <%#= render 'table', collection: @drinks if @drinks.any? %>

  <%#= render 'voters' if @votes.any? %>
</div>
